<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Homepage</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='./global.css')}}"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='./home.css')}}"
		/>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
	</head>
	<body>
		<section class="home-container">
			<h1>Hello, {{ name.username }}</h1>
			<input placeholder="Search Note" />

			<div>
				{% for note in notes %}
				<div>
					<div class="notes">
						<div class="note-head">
							<label class="note-title"> {{ note.title }} </label>
							<a href="/delete/{{ note.id }}"> Delete </a>
						</div>
						<p class="timestamp">
							You created this note at {{ note.timestamp }}
						</p>
						<p class="tap">
							Tap for note -
							<a href="/edit/{{ note.id }}/new">Edit</a>
						</p>
					</div>
					{% else %}
					<p class="empty">No entry yet</p>
					{% endfor %}
				</div>
			</div>

			<div class="footer">
				<a href="/logout"> <i class="fa fa-angle-left"></i> Logout </a>
				<a href="/new_add"> <i class="fa fa-pencil"></i> Create New </a>
			</div>
		</section>
	</body>
</html>
